<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation to Shtcut</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
<div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style="text-align: center; padding: 10px 0; border-bottom: 1px solid #eeeeee;">
        <img src="https://shtcut-stg.s3.amazonaws.com/logo-color.png" alt="Shtcut Logo" style="max-width: 150px;">
    </div>
    <div style="padding: 20px;">
        <h1 style="color: #333333; text-align: center;">You've Been Invited to Join a Workspace on Shtcut!</h1>
        <p style="color: #555555; text-align: center;">Hey there,</p>
        <p style="color: #555555; line-height: 1.6; text-align: center;">
            You have been invited to join their <%= workspace ;%> on Shtcut, the platform where you can streamline your
            workflow
            and
            enhance productivity. We
            believe you will find it incredibly useful and enjoyable.
        </p>
        <p style="color: #555555; line-height: 1.6; text-align: center;">
            Click the button below to accept your invitation and get started:
        </p>
        <div style="text-align: center;margin: 50px;">
            <a href="[Invitation Link]"
               style="background-color: #2F64E9; color: white; padding: 15px 25px; text-decoration: none; border-radius: 5px; font-size: 16px;">
                Join Shtcut
            </a>
        </div>
        <p style="color: #555555; line-height: 1.6; text-align: center;">
            If you have any questions, feel free to reach out to us at
            <a href="mailto:support@shtcut.link" style="color: #2F64E9;">support@shtcut.co</a>.</p>
        <p style="color: #555555; line-height: 1.6; text-align: center;">Welcome aboard!</p>
        <p style="color: #555555; line-height: 1.6; text-align: center;">Best regards,<br>The Shtcut Team</p>
    </div>
    <div style="text-align: center; padding: 10px 0; color: #888888; font-size: 12px;">
        <p>&copy; 2024 Shtcut. All rights reserved.</p>
    </div>
</div>
</body>
</html>
